# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Bash shell scripts expect LF
*.sh text eol=lf

# These config files are on Linux, and require LF
tmux.conf text eol=lf
.zshrc text eol=lf
.zprofile text eol=lf

# PowerShell scripts expect CRLF
*.ps1 text eol=crlf

# Except for this one, because it can
# be called from either PS or Bash
setup-git.ps1 text eol=lf